body {
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
}

header { 
  text-align: center;
  color: white;
  padding: 20px;
}

.select {
  text-align: center;
  color: white;
}

h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 80px;
}

h2, button {
  font-family: 'Montserrat';
  font-size: 20px;
}

button {
  font-family: 'Indie Flower';
  color: white;
  margin-top: 40px;
  padding: 20px;
  border-radius: 20px;
  background-color: #aa4b6b;
  border-color: white;
  margin-left: 20px;
}

button:hover {
  background-color: #3b8d99;
}


footer {
  font-family: 'Montserrat';
  color: white;
  text-align: center;
  margin-top: 100px;
}